* {
    box-sizing: content-box;
    margin: 10px;
    padding: auto;

}
body {
    background-color: #bbe1f8;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}

div.menu-items {
    width: 300px;
    position: relative;
    top: 0%;
    margin: 0% 500px;
    font-size: x-large;
}
#main {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
#drinks {
    display: flex;
    align-items: center;
    gap: 20px;
}
#desserts {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-items {
    padding: 20px;
    border: 15px;
    border-color: rgb(161, 114, 52);
}
.item-price {
    font-style: var(#bbe1f8);
    font-size: x-large;
}
footer {
    font-size: x-large;
    background-color: bisque;
}

.item-name:hover{
    background-color: rgb(12, 45, 73);
   color: lightgray;
    
}
.first-h2 {
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-h2 {
font-size: 200%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.third-h2 {
    font-size: 180%;
    font-style: italic;
}
    




