* {
    box-sizing: border-box;

}
body {
    background-color: #bbe1f8;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}

div.menu-items {
    width: 300px;
    position: relative;
    top: 0%;
}
#main {
    display: flex;
    align-items: center;
    gap: 20px;
}
#drinks {
    display: flex;
    align-items: center;
    gap: 20px;
}
#desserts {
    display: flex;
    align-items: center;
    gap: 56px;
}
.menu-items {
    padding: 20px;
    border: 15px;
    border-color: rgb(161, 114, 52);
}
.item-price {
    font-style: var(#bbe1f8);
    font-size: x-large;
}
footer {
    font-size: x-large;
    background-color: bisque;
}

    
    




