body{
    background-color: #add8e6;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #13374ddc;
}
.names , .price {
    width: 150px;
    display: flex;

}
#main .names {
    ;
}

}


    
    




